doctype html
html
  head
    title!= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
  body
    .jumbotron
      h1 Rock Paper Scissors: The Game
    .container
      .row
        .col-md-4
          a(href='/weapons/rock', class='btn btn-default') Rock
        .col-md-4
          a(href="/weapons/paper", class='btn btn-default') Paper
        .col-md-4
          a(href="/weapons/scissors", class='btn btn-default') Scissors
    block content
    
    .container
      .footer
        a(href="/") home
        p All Human's Score: #{scorePlayer} | Computers Score: #{scoreComputer}
    
