doctype html
html
  head
    title!= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
  body
    .jumbotron
      h1 Rock Paper Scissors: The Game
    block content
    
